extends layout
block header
    link(rel='stylesheet', href='/book.css')
    script(src="../ajax.js")

block content
    h1(id="bookTitle") #{book.title}
    ul(id="bookId") #{book.id}
        li
            p Автор: #{book.author}
            p Год выпуска: #{book.releaseYear}
            p Дата возврата: #{book.returnDate}
            p В наличии: #{book.inStock ? 'Да' : 'Нет'}
            p Читатель: #{book.reader}

    button(id="addReader" onclick='loadReaderPost()') Задать читателя
    button(id="deleteBookButton" onclick='loadBookDelete()') Удалить книгу
    button(id="returnToListButton" onclick='loadChangePut()') Изменить книгу

    dialog(id="readerDialog")
            h2 Введите данные о читателе
            label(for="inputName") Имя:
            input(type="text", id="inputName")

            label(for="inputDate") Дата возврата:
            input(type="date", id="inputDate", max="2023-12-31")

            button(id="applyReaderButton") Применить
            button(id="deleteReaderButton" onclick='loadReaderDelete()') Вернуть книгу
            button(id="closeReaderDialogButton" onclick='') Закрыть


    dialog(id="changeDialog")
        h2 Изменить данные о книге
        label(for="inputBookAuthor") Автор:
        input(type="text", id="inputBookAuthor")

        label(for="inputBookTitle") Название:
        input(type="text", id="inputBookTitle")

        label(for="inputBookYear") Год выпуска:
        input(type="number", id="inputBookYear", min = "0")

        button(id="applyChangeButton") Применить
        button(id="closeChangeDialogButton") Закрыть




    //block scripts
    //    script(src='/scripts/index.js' type='module')
