extends layout

block header
    link(rel='stylesheet', href='/library.css')

block content
    h1 Книги:
    ul
        each book in books
            li
                a(href=`/books/${book.id}`) #{book.title}
                span(class='book_field') Автор: #{book.author}
                span(class='book_field') Год выпуска: #{book.release_year}
                span(class='book_field') Возврат: #{book.returnDate}

block scripts
    script(src='add_book.js')
