extends layout
block header
    link(rel='stylesheet', href='/library.css')
    script(src="ajax.js")

block content
    button(id="openDialogButton" onclick='loadPost(this)') Добавить книгу

    label(for="availabilityCheckbox") В наличии
    input(type="radio", id="availabilityCheckbox", name="filterType", value="stock", onclick='loadFilterStock()')

    label(for="returnExpiredCheckbox") Возврат просрочен
    input(type="radio", id="returnExpiredCheckbox", name="filterType", value="expired", onclick='loadFilterExpired()')

    label(for="returnExpiredCheckbox") Сброс
    input(type="radio", id="resetFilters", name="filterType", value="reset", onclick='resetFilters()')

    dialog(id="myDialog")
        h2 Введите данные о книге
        label(for="inputTitle") Название:
        input(type="text", id="inputTitle")

        label(for="inputAuthor") Автор:
        input(type="text", id="inputAuthor")

        llabel(for="inputYear") Год выпуска:
        input(type="number", id="inputYear")

        button(id="applyButton") Применить
        button(id="closeDialogButton") Закрыть

    h1 Книги:
        ul(id="bookList")
            each book in books
                li
                    a(href=`/books/${book.id}`) #{book.title}
                    span(class='book_field') Автор: #{book.author}
                    span(class='book_field') Год выпуска: #{book.releaseYear}
                    span(class='book_field') Возврат: #{book.returnDate}
block scripts
    //script(src = "add_book.js")